h1{
    text-align: center;
}
h2 {
    font-size: 120px;
    text-align: center;
}

#contendor-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botones {
    width: 150px;
    height: 50px;
}